.container-big-card {
  border: solid white 2px;
  margin-left: 10px;
  margin-right: 10px;
  width: 400px;
  height: 600px;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-family: 'Segoe UI';
  justify-content: flex-start;
}

.big-carg-img {
}

.big-card-title {
}

.big-card-title > h1 {
  margin-top: 15px;
  font-size: 20px;
}

.big-card-description > p {
  margin-top: 10px;
  color: grey;
}
